#title {
  background: #ff4c68;
  color: white;
}
/* Need to solve the font problem */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
h2{
  font-family: "Monsterrat";
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Monsterrat-Bold";
}
p{
  color:#8f8f8f;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.container-fluid {
  padding: 3% 15%;
}
/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}
/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}
/* Tilte image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}
/* Feature Sections */
#features{
  padding: 7% 15%;
  background-color: #fff; 
  position: relative;
?
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
/* testimonials sessions */
#testimonials{
text-align: center;
background-color: #ef8172;
color: #fff;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding:3%;

}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
/* Pricing session */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding:3% 2%
}
